<table>
    <tr>
        <td colspan="5">
            <h3>Order Items:</h3>
        </td>
    </tr>
    <tr *ngFor="let item of order.items">
        <td>
            <a routerLink="/candle/{{item.candle.id}}">
                <img [src]="item.candle.imageUrl"/>
            </a>
        </td>
        <td>
            {{item.candle.name}}
        </td>
        <td>
            {{item.candle.price | currency}}
        </td>
        <td>
            {{item.quantity}}
        </td>
        <td>
            {{item.price | currency}}
        </td>
    </tr>
    <tr>
        <td colspan="3"></td>
        <td>
            <strong>Total: </strong>
         </td>  
         <td>
            <strong>{{order.totalPrice | currency}}</strong>
         </td> 
    </tr>
</table>
