.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 3rem;  
}

.details{
    width: 28rem;
}

form{
   display: flex; 
   flex-direction: column;
   justify-content: center;
}

.error-list{
  color: red;
}

.register{
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-pic-container {
  position: relative;
  display: inline-block;
}

.edit-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #fff;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
}

.edit-icon i {
  color: #000;
}