<app-not-found
[visible]="!candle"
notFoundMessage="Candle not found."
resetLinkText="Go home">
</app-not-found>
<div *ngIf="candle" class="container">
    <img [src]="candle.imageUrl" [alt]="candle.name">
    <div class="details">
        <div class="header">
            <span class="name">
               {{candle.name}} 
            </span>
            <span class="favorite" (click)="toggleFavorite()" [ngClass]="{'not': !candle.favorite}">
              ❤
           </span>
           
        </div>
        <div class="rating">
            <star-rating [stars]="candle.stars" [size]="1.8" />  
        </div>
        <div class="scents">
          <span *ngFor="let scent of candle.scents">
            {{scent}}
          </span> 
        </div>
        <div class="tags">
            <a *ngFor="let tag of candle.tags" routerLink="/tag/{{tag}}">
                {{tag}}
            </a>
        </div>
        <div class="description">
            <span>
             {{candle.description}}   
            </span>
        </div>
        <div class="price">
            <span>
                {{candle.price | currency}}
            </span>
        </div>

        <button (click)="addToCart()">Add To Cart</button>

        </div>
        <div class="reviews" *ngIf="reviews && reviews.length > 0">
          <h2>Reviews</h2>
          <div class="review" *ngFor="let review of reviews">
            <div class="review-header">
              <div class="review-rating">
                <star-rating [stars]="review.rating" [size]="1.8"></star-rating>
              </div>
              <div class="review-title">
                <span>{{ review.title }}</span>
              </div>
            </div>
            <div class="review-name">
              <span>{{ review.name }}</span>
            </div>
            <div class="comment">
              <span>{{ review.comment }}</span>
            </div>
          </div>
        </div>
        
        
        
        
        
        
